@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@300;400&family=Play:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.me {
    font-family: 'Play';
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    color: #FFFFFF;
}

.plogo {
    color: #FD2155;
    text-shadow: -3px 0px 0px #05FDD8;
}

.tag {
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 16px; */
    color: #808080;
}

.blast {
    opacity: 0;
    /* display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out; */
    transition: all 0.3s ease-out;
}